<div class="container p-4 mt-5 rounded form bg-theme-neutral">
  <h1 class="mb-4 text-center">Education for <%= @education.school %></h1>
  <%= render partial: 'form', locals: { is_readonly: true} %>
</div>