<div class="container p-4 mt-5 rounded form bg-theme-neutral">
  <h1 class="mb-4 text-center">Editing Experience Group for Profile Number: <%= @experience_group.profile_id %></h1>
  <%= render partial: 'form', locals: { is_readonly: false } %>
</div>