<div class="p-2 rounded nav-container d-none d-md-block nm-cc-theme-primary nm-box-s-theme-primary" >
  <nav class="text-white flex-column nav nav-pills" id="navigation">
    <a class="text-white nav-link" href="#top" data-turbolinks="false">Top</a>
    <a class="text-white nav-link" href="#profile" data-turbolinks="false">Profile</a>
    <a class="text-white nav-link" href="#experience" data-turbolinks="false">Experience</a>
    <a class="text-white nav-link" href="#education" data-turbolinks="false">Education</a>
    <a class="text-white nav-link" href="#skills" data-turbolinks="false">Skills</a>
    <a class="text-white nav-link" href="#projects" data-turbolinks="false">Projects</a>
  </nav>
</div>

<div class="p-2 rounded admin-container d-none d-md-block nm-cc-theme-primary nm-box-s-theme-primary">
  <%= link_to 'Admin', admin_root_path, class: "text-white nav-link" %>
</div>