<div class="mb-5 row">
  <div class="mb-3 col-lg-4 text-end">
    <h3><%= education.school %></h3>
    <p><%= "#{education.start_date} - #{education.end_date}" %></p>
  </div>
  <div class="mb-3 col-lg-8">
  </div>
</div>
