// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
@import "bootstrap";

$theme-colors: (
  "dark": #172d85,
  "medium": #777,
  "light": "#ddd"
);

@keyframes slide-left {
  0%  { right: -300px }
  100%  { right: 25px }
}

.top-35 {
  top: 35% !important;
}

.fs-0 {
  font-size: calc(2.0rem + 1.5vw) !important;
  @media (min-width: 1200px) {
    font-size: 3.5rem !important;
  }
}

.text-theme-dark {
  color: map-get($theme-colors, "dark") !important;
}

.bg-theme-dark {
  background-color: map-get($theme-colors, "dark") !important;
}

.avatar {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  6px 6px 12px #cccccc,
               -6px -6px 12px #ffffff;
  @media (min-width: 1200px) {
    height: 220px;
    width: 220px;
  }
  &-img {
    border-radius: 50%;
    margin: auto;
    width: 175px;
    height: 175px;
    @media (min-width: 1200px) {
      height: 200px;
      width: 200px;
    }
  }
}

.nm-cc-theme-dark {
  background: linear-gradient(145deg, #152978, #19308e);
}

.nm-box-theme-dark {
  box-shadow:  20px 20px 60px #142671,
  -20px -20px 60px #1a3499;
}

.nm-cc-white {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}

.nm-box-white {
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.landing {
  background: url('~images/circuit-board-background.png') no-repeat center fixed;
  background-size: cover;
}

.nav-container {
  z-index: 100;
  animation: slide-left 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: fixed;
  top: 50px;
  right: 25px;
  border-radius: 25px;
  background: linear-gradient(145deg, #152978, #19308e);
  box-shadow:  6px 6px 12px #12246a,
              -6px -6px 12px #1c36a0;
}