<nav class="navbar navbar-expand-lg navbar-dark bg-theme-primary">
  <div class="container-fluid">
    <%= link_to 'RL Admin', admin_root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="mb-2 navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Profile', admin_profile_index_path, class: "nav-link" %>
        <li class="nav-item">
          <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experience</a>
        </li>
      </ul>
    </div>
  </div>
</nav>